@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: #1e202a;
}

.container {
  margin: 0 6rem;
}

.heading {
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading.light .fHead {
  color: #1e202a;
}

.heading.light .secHead {
  color: #63687e;
}

.heading.light .switch .slider:hover {
  background-image: linear-gradient(to right, #378fe6, #3eda82);
}

.heading.light .darkHead {
  color: #63687e;
}

.heading .mainHead {
  margin-left: 37px;
}

.heading .fHead {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.heading .secHead {
  margin: 3px;
  font-size: 15px;
  font-weight: 600;
}

.heading .toggle {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.heading .darkHead {
  font-weight: 600;
  font-size: 16px;
  margin-right: 12px;
}

.allCards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 45px;
}

.allCards .card {
  width: 21%;
  height: 200px;
  background-color: #252a41;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.allCards .card.facebook {
  border-top: 3.5px solid #198ff5;
}

.allCards .card.twitter {
  border-top: 3.5px solid #1ca0f2;
}

.allCards .card.insta {
  border-top: 10px solid #df4996;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 3.5px;
  border-bottom-width: 0;
  border-image: linear-gradient(to right, #fdc468, #df4996) 1 stretch;
}

.allCards .card.utube {
  border-top: 3.5px solid #c4032a;
}

.allCards .card.light {
  background-color: #f0f2fa;
}

.allCards .card.light .tag {
  color: #63687e;
}

.allCards .card.light .followNum {
  color: #1e202a;
}

.allCards .card.light .follow {
  color: #63687e;
}

.allCards .card.light:hover {
  cursor: pointer;
  background-color: #e5e8f6;
}

.allCards .card .tag {
  display: flex;
  align-items: center;
}

.allCards .card .tag img {
  margin-right: 10px;
}

.allCards .card .tag p {
  font-size: 12px;
  font-weight: 600;
}

.allCards .card .follow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allCards .card .follow .followNum {
  font-size: 50px;
  font-weight: 700;
}

.allCards .card .follow .numName {
  letter-spacing: 5px;
  font-size: 12px;
}

.allCards .card .dif {
  display: flex;
  font-weight: 600;
}

.allCards .card .dif img {
  padding: 4px;
}

.allCards .card .dif.decrease {
  color: #dc414c;
}

.allCards .card:hover {
  cursor: pointer;
  background-color: #303755;
}

h1 {
  color: white;
}

.overviewHead {
  margin: 35px 0 25px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin-left: 30px;
}

.overviewHead.light {
  color: #63687e;
}

.secHead {
  color: #8b97c6;
}

.darkHead {
  color: white;
}

.card .tag {
  color: #8b97c6;
}

.card .followNum {
  color: white;
}

.card .numName {
  color: #8b97c6;
}

.card .dif {
  color: #1db489;
}

.overall {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.overall .overview-cards {
  width: 21%;
  height: 120px;
  background-color: #252a41;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.overall .overview-cards.light {
  background-color: #f0f2fa;
}

.overall .overview-cards.light:hover {
  cursor: pointer;
  background-color: #e5e8f6;
}

.overall .overview-cards.light .fRow p {
  color: #63687e;
}

.overall .overview-cards.light .sRow .num {
  color: #1e202a;
}

.overall .overview-cards .fRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.overall .overview-cards .fRow p {
  color: #8b97c6;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 20px;
}

.overall .overview-cards .fRow span {
  margin-top: 20px;
  margin-right: 20px;
}

.overall .overview-cards .sRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.overall .overview-cards .sRow .num {
  color: white;
  font-size: 35px;
  font-weight: 700;
  margin-left: 20px;
}

.overall .overview-cards .sRow .number {
  display: flex;
  font-weight: 600;
  color: #1db489;
  margin-right: 20px;
}

.overall .overview-cards .sRow .number img {
  padding: 4px;
}

.overall .overview-cards .sRow .number.decrease {
  color: #dc414c;
}

.overall .overview-cards:hover {
  cursor: pointer;
  background-color: #303755;
}

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
}

.switch input {
  -webkit-appearance: none;
  outline: none;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #378fe6, #3eda82);
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: #1d0303;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background: #aeb3cb;
}

.switch input:checked + .slider:before {
  transform: translateX(21px);
  background-color: #fff;
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=styles.css.map */